Package: kiro-cli
Description: Kiro-Cli for Linux
Maintainer: Kiro-Cli Team <kiro-cli@kiro.dev>
Homepage: https://github.com/aws/q-cli
Version: $VERSION
Architecture: $APT_ARCH
Conflicts: kiro-cli-minimal
Depends: libayatana-appindicator3-1, libwebkit2gtk-4.1-0, libgtk-3-0, util-linux
